@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@import './components.scss';

body {
   font-family: 'Poppins';
}

// app global css in SCSS form
h1,h2,h3,h4,h5,h6, p, ul {
   margin: 0;
   padding: 0;
}
input:focus {
   outline: none;
}

// Utility Classes
.letter-space-1 {
   letter-spacing: 1px;
}

.round-10 {
   border-radius: 10px;
}

.border-1 {
   border: 1px solid $grey-3;
}
.custom-shadow {
   box-shadow: 0px 8px 15px #ddd;
}
