@import './fonts.scss';
@import './components.scss';

body {
   font-family: 'Poppins', 'Roboto';
   background-color: $body-bg;
}
.body-bg {
   background-color: $body-bg;   
}

// app global css in SCSS form
h1,h2,h3,h4,h5,h6, p, ul {
   margin: 0;
   padding: 0;
}
input:focus {
   outline: none;
}

// Utility Classes
.letter-space-1 {
   letter-spacing: 1px;
}

.round-10 {
   border-radius: 10px;
}

.border-1 {
   border: 1px solid $grey-4;
}
.flex-1 {
   flex: 1;
}
.custom-shadow {
   box-shadow: 0px 7px 15px #ddd;
}

// Override
.q-field--outlined .q-field__control {
   border-radius: 10px;
}